//output:../Globby.html
doctype html 
html(dir="ltr" lang="en")
  head
    link(href="css/GlobbyStyle.css" type="text/css" rel="stylesheet")
    META(name="viewport" content="width=device-width, initial-scale=1")
  body
    canvas#gameBg
    canvas#gameObst
    canvas#gameColl
    canvas#gameAvat
    #playBtn
    //- ----------------------------------------------------------------------
    //- ----------------------------------------------------------------------
    //- ----------------------------------------------------------------------
    script(src="js/lib/jquery-3.1.0.min.js")
    //- ----------------------------------------------------------------------
    script(src="js/Globby.js")
